#!/bin/bash

##Inject SSH private key if defined#####
if [ -f {{ host_vagrant_workdir }}/id_rsa_injected ]; then
    cp -vf {{ host_vagrant_workdir }}/id_rsa_injected /home/vagrant/.ssh/id_rsa && \
    chmod -v 0600 /home/vagrant/.ssh/id_rsa
fi

##Run custom boot script################
{% if vagrant.boot_script is defined %}{{ vagrant.boot_script }}{% endif %}
