#!/bin/bash

##Step 1: Ansible###################################
sudo apt-add-repository --yes --update ppa:ansible/ansible && \
sudo apt-get update && \
sudo apt install -y ansible python-pip

##Step 2: Ansible role requirements#################
cd {{ guest_ansible_workdir }} && \
ansible-galaxy install -fr requirements.yml

##Step 3: Custom provision_script from config#######
{% if vagrant.provision_script is defined %}{{ vagrant.provision_script }}{% endif %}
