Vagrant.configure("2") do |config|
  config.vm.box = "{{ vagrant.box | default('ubuntu/bionic64') }}"


  config.vm.provider "virtualbox" do |v|
    v.memory = {{ vagrant.memory | default(1024) }}
    v.cpus = {{ vagrant.cpus | default(2) }}
  end


  config.vm.network :forwarded_port,
    guest: 22,
    host: {{ vagrant.ssh_port | default('2222') }},
    id: "ssh",
    {% if vagrant.ssh_host_ip is defined %}host_ip: "{{ vagrant.ssh_host_ip }}",{% endif %}
    autocorrect: {% if vagrant.ssh_port is defined %}false{% else %}true{% endif %}

  config.vm.synced_folder "{{ host_vagrant_workdir }}", "{{ guest_vagrant_workdir }}"
  config.vm.synced_folder "{{ host_ansible_workdir }}", "{{ guest_ansible_workdir }}"

  config.vm.provision "shell", path: "{{ host_vagrant_workdir }}/provision.sh"

{% if vagrant.forwarded_ports is defined %}
    {% for port in vagrant.forwarded_ports %}
  config.vm.network "forwarded_port",
    guest: {{ port.guest }},
    host: {{ port.host | default(port.guest) }},
    {% if port.host_ip is defined %}host_ip: "{{ port.host_ip }}",{% endif %}
    auto_correct: {% if (port.auto_correct | default('no')) == 'yes' %}true{% else %}false{% endif %}
    {% endfor %}
{% endif %}
{% if vagrant.vagrantfile_append is defined %}
  {{ vagrant.vagrantfile_append }}
{% endif %}

end
